window.gtkdm, glade-design-layout > window {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.95rem; }

glade-design-layout .display-frame {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.15); }

.gtkdm text-monitor.dark > label, glade-design-layout text-monitor.dark > label {
  padding-left: 4px;
  padding-right: 4px; }

.gtkdm scale > marks > mark > label, glade-design-layout scale > marks > mark > label {
  padding: 0 4px; }

.gtkdm label.selected, glade-design-layout label.selected {
  font-weight: bold; }

.gtkdm .tiny button, glade-design-layout .tiny button {
  min-height: 8px;
  min-width: 8px;
  padding: 1px;
  font-size: 0.9em; }

.gtkdm .tiny entry, glade-design-layout .tiny entry {
  min-height: 8px;
  min-width: 8px;
  padding: 1px;
  font-size: 0.9em; }

.gtkdm .tiny entry.combo, glade-design-layout .tiny entry.combo {
  min-height: 8px;
  min-width: 8px;
  padding: 1px;
  font-size: 0.9em; }

.gtkdm .tiny button.combo, glade-design-layout .tiny button.combo {
  min-height: 8px;
  min-width: 8px;
  padding: 1px 4px;
  font-size: 0.9em; }

.gtkdm entry, glade-design-layout entry {
  font-family: "Fira Code", monospace;
  font-size: 0.9em;
  min-height: 12px;
  border-radius: 3px; }
  .gtkdm entry.feedback, glade-design-layout entry.feedback {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 0.85em; }

.gtkdm entry.combo, glade-design-layout entry.combo {
  font-family: "Fira Code", monospace;
  font-size: 0.9em;
  min-height: 12px;
  border-radius: 3px; }
  .gtkdm entry.combo.feedback, glade-design-layout entry.combo.feedback {
    background-color: rgba(0, 0, 0, 0.15); }

.gtkdm button, glade-design-layout button {
  min-height: 12px;
  border-radius: 3px; }

.gtkdm button.combo, glade-design-layout button.combo {
  min-height: 12px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px; }

.gtkdm button.toggle, glade-design-layout button.toggle {
  min-height: 12px;
  border-radius: 3px; }

.gtkdm spinbutton, glade-design-layout spinbutton {
  min-height: 12px;
  border-radius: 3px;
  font-size: 0.95em; }

.gtkdm switch, glade-design-layout switch {
  font-size: 0px; }
  .gtkdm switch slider, glade-design-layout switch slider {
    min-height: 12px;
    min-width: 14px; }

.gtkdm textview, glade-design-layout textview {
  font-size: 0.9em;
  margin: 2px;
  font-family: "Fira Code", monospace; }

.gtkdm .linked > *:not(:first-child):not(:last-child), glade-design-layout .linked > *:not(:first-child):not(:last-child) {
  border-radius: 0px; }
  .gtkdm .linked > *:not(:first-child):not(:last-child) > button, .gtkdm .linked > *:not(:first-child):not(:last-child) > entry, glade-design-layout .linked > *:not(:first-child):not(:last-child) > button, glade-design-layout .linked > *:not(:first-child):not(:last-child) > entry {
    border-radius: 0px; }

.gtkdm .linked.horizontal > *:first-child, glade-design-layout .linked.horizontal > *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }
  .gtkdm .linked.horizontal > *:first-child > button, .gtkdm .linked.horizontal > *:first-child > entry, glade-design-layout .linked.horizontal > *:first-child > button, glade-design-layout .linked.horizontal > *:first-child > entry {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }

.gtkdm .linked.horizontal > *:last-child, glade-design-layout .linked.horizontal > *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }
  .gtkdm .linked.horizontal > *:last-child > button, .gtkdm .linked.horizontal > *:last-child > entry, glade-design-layout .linked.horizontal > *:last-child > button, glade-design-layout .linked.horizontal > *:last-child > entry {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }

.gtkdm .linked.vertical > *:first-child, glade-design-layout .linked.vertical > *:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }
  .gtkdm .linked.vertical > *:first-child > button, .gtkdm .linked.vertical > *:first-child > entry, glade-design-layout .linked.vertical > *:first-child > button, glade-design-layout .linked.vertical > *:first-child > entry {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }

.gtkdm .linked.vertical > *:last-child, glade-design-layout .linked.vertical > *:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }
  .gtkdm .linked.vertical > *:last-child > button, .gtkdm .linked.vertical > *:last-child > entry, glade-design-layout .linked.vertical > *:last-child > button, glade-design-layout .linked.vertical > *:last-child > entry {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }

.gtkdm .linked > *:first-child:last-child, glade-design-layout .linked > *:first-child:last-child {
  border-radius: 3px; }

.gtkdm on-off switch, glade-design-layout on-off switch {
  border-color: rgba(0, 0, 0, 0.45); }
  .gtkdm on-off switch:checked, glade-design-layout on-off switch:checked {
    background-color: #73d216;
    border-color: rgba(0, 0, 0, 0.45); }
    .gtkdm on-off switch:checked slider, glade-design-layout on-off switch:checked slider {
      border-color: rgba(0, 0, 0, 0.45); }

.gtkdm .gtkdm-inactive > *, glade-design-layout .gtkdm-inactive > * {
  border-color: white; }

.gtkdm .gtkdm-warning, glade-design-layout .gtkdm-warning {
  color: #ffcb00; }

.gtkdm .gtkdm-critical, glade-design-layout .gtkdm-critical {
  color: #ef4d29; }

.gtkdm .dark entry, glade-design-layout .dark entry {
  border: 0.25px solid rgba(0, 0, 0, 0.85);
  background: #555753;
  color: #73d216; }

.gtkdm .dark label, glade-design-layout .dark label {
  background: #555753;
  color: #73d216; }

.gtkdm .xxs, glade-design-layout .xxs {
  font-size: 0.75em; }

.gtkdm .xs, glade-design-layout .xs {
  font-size: 0.85em; }

.gtkdm .sm, glade-design-layout .sm {
  font-size: 0.95em; }

.gtkdm .md, glade-design-layout .md {
  font-size: 1em; }

.gtkdm .lg, glade-design-layout .lg {
  font-size: 1.2em; }

.gtkdm .xl, glade-design-layout .xl {
  font-size: 1.3em; }

.gtkdm .xxl, glade-design-layout .xxl {
  font-size: 1.5em; }

.gtkdm .monospace, glade-design-layout .monospace {
  font-family: "Fira Code", monospace; }

.gtkdm .mono-font, glade-design-layout .mono-font {
  font-family: "Fira Code", monospace; }

.gtkdm .bold-font, glade-design-layout .bold-font {
  font-weight: bold; }

.gtkdm .title, glade-design-layout .title {
  font-weight: bold; }

.gtkdm text-panel .desc, .gtkdm .text-panel .desc, glade-design-layout text-panel .desc, glade-design-layout .text-panel .desc {
  font-size: 0.9em;
  color: rgba(179, 179, 179, 0.8);
  padding: 2px; }

.gtkdm text-panel .value, .gtkdm .text-panel .value, glade-design-layout text-panel .value, glade-design-layout .text-panel .value {
  padding-top: 2px;
  padding-bottom: 4px; }

.gtkdm text-panel.dark-panel, .gtkdm .text-panel.dark-panel, glade-design-layout text-panel.dark-panel, glade-design-layout .text-panel.dark-panel {
  background: #555753;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.gtkdm .warning button, glade-design-layout .warning button {
  background: rgba(255, 0, 0, 0.15); }

.gtkdm .red button, glade-design-layout .red button {
  color: #ef4d29; }

.gtkdm .green button, glade-design-layout .green button {
  color: green; }

.gtkdm .on-btn button, glade-design-layout .on-btn button {
  background: rgba(255, 0, 0, 0.25); }

.gtkdm .off-btn button, glade-design-layout .off-btn button {
  background: rgba(0, 255, 0, 0.25); }

.gtkdm .bg-blue-1, .gtkdm .bg-blue-1 > .button, glade-design-layout .bg-blue-1, glade-design-layout .bg-blue-1 > .button {
  background: rgba(153, 193, 241, 0.25); }

.gtkdm .bg-blue-2, .gtkdm .bg-blue-2 > .button, glade-design-layout .bg-blue-2, glade-design-layout .bg-blue-2 > .button {
  background: rgba(98, 160, 234, 0.25); }

.gtkdm .bg-blue-3, .gtkdm .bg-blue-3 > .button, glade-design-layout .bg-blue-3, glade-design-layout .bg-blue-3 > .button {
  background: rgba(53, 132, 228, 0.25); }

.gtkdm .bg-blue-4, .gtkdm .bg-blue-4 > .button, glade-design-layout .bg-blue-4, glade-design-layout .bg-blue-4 > .button {
  background: rgba(28, 113, 216, 0.25); }

.gtkdm .bg-blue-5, .gtkdm .bg-blue-5 > .button, glade-design-layout .bg-blue-5, glade-design-layout .bg-blue-5 > .button {
  background: rgba(26, 95, 180, 0.25); }

.gtkdm .bg-green-1, .gtkdm .bg-green-1 > .button, glade-design-layout .bg-green-1, glade-design-layout .bg-green-1 > .button {
  background: rgba(143, 240, 164, 0.25); }

.gtkdm .bg-green-2, .gtkdm .bg-green-2 > .button, glade-design-layout .bg-green-2, glade-design-layout .bg-green-2 > .button {
  background: rgba(87, 227, 137, 0.25); }

.gtkdm .bg-green-3, .gtkdm .bg-green-3 > .button, glade-design-layout .bg-green-3, glade-design-layout .bg-green-3 > .button {
  background: rgba(51, 209, 122, 0.25); }

.gtkdm .bg-green-4, .gtkdm .bg-green-4 > .button, glade-design-layout .bg-green-4, glade-design-layout .bg-green-4 > .button {
  background: rgba(46, 194, 126, 0.25); }

.gtkdm .bg-green-5, .gtkdm .bg-green-5 > .button, glade-design-layout .bg-green-5, glade-design-layout .bg-green-5 > .button {
  background: rgba(38, 162, 105, 0.25); }

.gtkdm .bg-yellow-1, .gtkdm .bg-yellow-1 > .button, glade-design-layout .bg-yellow-1, glade-design-layout .bg-yellow-1 > .button {
  background: rgba(249, 240, 107, 0.25); }

.gtkdm .bg-yellow-2, .gtkdm .bg-yellow-2 > .button, glade-design-layout .bg-yellow-2, glade-design-layout .bg-yellow-2 > .button {
  background: rgba(248, 228, 92, 0.25); }

.gtkdm .bg-yellow-3, .gtkdm .bg-yellow-3 > .button, glade-design-layout .bg-yellow-3, glade-design-layout .bg-yellow-3 > .button {
  background: rgba(246, 211, 45, 0.25); }

.gtkdm .bg-yellow-4, .gtkdm .bg-yellow-4 > .button, glade-design-layout .bg-yellow-4, glade-design-layout .bg-yellow-4 > .button {
  background: rgba(245, 194, 17, 0.25); }

.gtkdm .bg-yellow-5, .gtkdm .bg-yellow-5 > .button, glade-design-layout .bg-yellow-5, glade-design-layout .bg-yellow-5 > .button {
  background: rgba(229, 165, 10, 0.25); }

.gtkdm .bg-orange-1, .gtkdm .bg-orange-1 > .button, glade-design-layout .bg-orange-1, glade-design-layout .bg-orange-1 > .button {
  background: rgba(255, 190, 111, 0.25); }

.gtkdm .bg-orange-2, .gtkdm .bg-orange-2 > .button, glade-design-layout .bg-orange-2, glade-design-layout .bg-orange-2 > .button {
  background: rgba(255, 163, 72, 0.25); }

.gtkdm .bg-orange-3, .gtkdm .bg-orange-3 > .button, glade-design-layout .bg-orange-3, glade-design-layout .bg-orange-3 > .button {
  background: rgba(255, 120, 0, 0.25); }

.gtkdm .bg-orange-4, .gtkdm .bg-orange-4 > .button, glade-design-layout .bg-orange-4, glade-design-layout .bg-orange-4 > .button {
  background: rgba(230, 97, 0, 0.25); }

.gtkdm .bg-orange-5, .gtkdm .bg-orange-5 > .button, glade-design-layout .bg-orange-5, glade-design-layout .bg-orange-5 > .button {
  background: rgba(198, 70, 0, 0.25); }

.gtkdm .bg-red-1, .gtkdm .bg-red-1 > .button, glade-design-layout .bg-red-1, glade-design-layout .bg-red-1 > .button {
  background: rgba(246, 97, 81, 0.25); }

.gtkdm .bg-red-2, .gtkdm .bg-red-2 > .button, glade-design-layout .bg-red-2, glade-design-layout .bg-red-2 > .button {
  background: rgba(237, 51, 59, 0.25); }

.gtkdm .bg-red-3, .gtkdm .bg-red-3 > .button, glade-design-layout .bg-red-3, glade-design-layout .bg-red-3 > .button {
  background: rgba(224, 27, 36, 0.25); }

.gtkdm .bg-red-4, .gtkdm .bg-red-4 > .button, glade-design-layout .bg-red-4, glade-design-layout .bg-red-4 > .button {
  background: rgba(192, 28, 40, 0.25); }

.gtkdm .bg-red-5, .gtkdm .bg-red-5 > .button, glade-design-layout .bg-red-5, glade-design-layout .bg-red-5 > .button {
  background: rgba(165, 29, 45, 0.25); }

.gtkdm .bg-purple-1, .gtkdm .bg-purple-1 > .button, glade-design-layout .bg-purple-1, glade-design-layout .bg-purple-1 > .button {
  background: rgba(220, 138, 221, 0.25); }

.gtkdm .bg-purple-2, .gtkdm .bg-purple-2 > .button, glade-design-layout .bg-purple-2, glade-design-layout .bg-purple-2 > .button {
  background: rgba(192, 97, 203, 0.25); }

.gtkdm .bg-purple-3, .gtkdm .bg-purple-3 > .button, glade-design-layout .bg-purple-3, glade-design-layout .bg-purple-3 > .button {
  background: rgba(145, 65, 172, 0.25); }

.gtkdm .bg-purple-4, .gtkdm .bg-purple-4 > .button, glade-design-layout .bg-purple-4, glade-design-layout .bg-purple-4 > .button {
  background: rgba(129, 61, 156, 0.25); }

.gtkdm .bg-purple-5, .gtkdm .bg-purple-5 > .button, glade-design-layout .bg-purple-5, glade-design-layout .bg-purple-5 > .button {
  background: rgba(97, 53, 131, 0.25); }

.gtkdm .bg-brown-1, .gtkdm .bg-brown-1 > .button, glade-design-layout .bg-brown-1, glade-design-layout .bg-brown-1 > .button {
  background: rgba(205, 171, 143, 0.25); }

.gtkdm .bg-brown-2, .gtkdm .bg-brown-2 > .button, glade-design-layout .bg-brown-2, glade-design-layout .bg-brown-2 > .button {
  background: rgba(181, 131, 90, 0.25); }

.gtkdm .bg-brown-3, .gtkdm .bg-brown-3 > .button, glade-design-layout .bg-brown-3, glade-design-layout .bg-brown-3 > .button {
  background: rgba(152, 106, 68, 0.25); }

.gtkdm .bg-brown-4, .gtkdm .bg-brown-4 > .button, glade-design-layout .bg-brown-4, glade-design-layout .bg-brown-4 > .button {
  background: rgba(134, 94, 60, 0.25); }

.gtkdm .bg-brown-5, .gtkdm .bg-brown-5 > .button, glade-design-layout .bg-brown-5, glade-design-layout .bg-brown-5 > .button {
  background: rgba(99, 69, 44, 0.25); }

.gtkdm .bg-light-1, .gtkdm .bg-light-1 > .button, glade-design-layout .bg-light-1, glade-design-layout .bg-light-1 > .button {
  background: rgba(255, 255, 255, 0.25); }

.gtkdm .bg-light-2, .gtkdm .bg-light-2 > .button, glade-design-layout .bg-light-2, glade-design-layout .bg-light-2 > .button {
  background: rgba(246, 245, 244, 0.25); }

.gtkdm .bg-light-3, .gtkdm .bg-light-3 > .button, glade-design-layout .bg-light-3, glade-design-layout .bg-light-3 > .button {
  background: rgba(222, 221, 218, 0.25); }

.gtkdm .bg-light-4, .gtkdm .bg-light-4 > .button, glade-design-layout .bg-light-4, glade-design-layout .bg-light-4 > .button {
  background: rgba(192, 191, 188, 0.25); }

.gtkdm .bg-light-5, .gtkdm .bg-light-5 > .button, glade-design-layout .bg-light-5, glade-design-layout .bg-light-5 > .button {
  background: rgba(154, 153, 150, 0.25); }

.gtkdm .bg-dark-1, .gtkdm .bg-dark-1 > .button, glade-design-layout .bg-dark-1, glade-design-layout .bg-dark-1 > .button {
  background: rgba(119, 118, 123, 0.25); }

.gtkdm .bg-dark-2, .gtkdm .bg-dark-2 > .button, glade-design-layout .bg-dark-2, glade-design-layout .bg-dark-2 > .button {
  background: rgba(94, 92, 100, 0.25); }

.gtkdm .bg-dark-3, .gtkdm .bg-dark-3 > .button, glade-design-layout .bg-dark-3, glade-design-layout .bg-dark-3 > .button {
  background: rgba(61, 56, 70, 0.25); }

.gtkdm .bg-dark-4, .gtkdm .bg-dark-4 > .button, glade-design-layout .bg-dark-4, glade-design-layout .bg-dark-4 > .button {
  background: rgba(36, 31, 49, 0.25); }

.gtkdm .bg-dark-5, .gtkdm .bg-dark-5 > .button, glade-design-layout .bg-dark-5, glade-design-layout .bg-dark-5 > .button {
  background: rgba(0, 0, 0, 0.25); }

.gtkdm .command button, glade-design-layout .command button {
  background: rgba(0, 128, 128, 0.25); }

.gtkdm .gtkdm-table entry, glade-design-layout .gtkdm-table entry {
  border-radius: 0px; }

.gtkdm .gtkdm-table *:not(.dark) > entry, glade-design-layout .gtkdm-table *:not(.dark) > entry {
  background: rgba(0, 255, 255, 0.05); }

.gtkdm .section label, glade-design-layout .section label {
  font-weight: 200;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.gtkdm .shaded, glade-design-layout .shaded {
  background: rgba(128, 128, 128, 0.25); }

.gtkdm .subtitle, glade-design-layout .subtitle {
  opacity: 0.5; }

.gtkdm tooltip, glade-design-layout tooltip {
  border-radius: 3px; }
  .gtkdm tooltip *, glade-design-layout tooltip * {
    font-size: 90%;
    padding: 1px; }

.gtkdm list.chart-legend, glade-design-layout list.chart-legend {
  padding: 18px 6px 18px 6px; }
  .gtkdm list.chart-legend > row + row, glade-design-layout list.chart-legend > row + row {
    border-top: 1px solid rgba(0, 0, 0, 0.15); }
  .gtkdm list.chart-legend.finding .text-monitor, glade-design-layout list.chart-legend.finding .text-monitor {
    font-weight: bold; }
