.gtkdm-window {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.95rem; }

.gtkdm.textmonitor > label {
  padding-left: 4px;
  padding-right: 4px; }

.gtkdm scale > marks > mark > label {
  padding: 0 4px; }

.tiny button {
  min-height: 8px;
  min-width: 8px;
  padding: 1px;
  font-size: 0.9em; }

.tiny entry {
  min-height: 8px;
  min-width: 8px;
  padding: 1px;
  font-size: 0.9em; }

.tiny entry.combo {
  min-height: 8px;
  min-width: 8px;
  padding: 1px;
  font-size: 0.9em; }

.tiny button.combo {
  min-height: 8px;
  min-width: 8px;
  padding: 1px 4px;
  font-size: 0.9em; }

.gtkdm entry {
  font-family: "Fira Code", monospace;
  font-size: 0.9em;
  min-height: 12px;
  border-radius: 3px; }
  .gtkdm entry.feedback {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 0.85em; }

.gtkdm entry.combo {
  font-family: "Fira Code", monospace;
  font-size: 0.9em;
  min-height: 10px;
  border-radius: 3px; }
  .gtkdm entry.combo.feedback {
    background-color: rgba(0, 0, 0, 0.15); }

.gtkdm button {
  min-height: 12px;
  border-radius: 3px; }

.gtkdm button.combo {
  min-height: 12px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px; }

.gtkdm button.toggle {
  min-height: 12px;
  border-radius: 3px; }

.gtkdm spinbutton {
  min-height: 12px;
  border-radius: 3px;
  font-size: 0.95em; }

.gtkdm.indicator {
  font-size: 90%; }

.gtkdm switch slider {
  min-height: 12px;
  min-width: 14px; }

.gtkdm textview {
  font-size: 0.9em;
  margin: 2px;
  font-family: "Fira Code", monospace; }

.gtkdm.linked *:not(:first-child):not(:last-child) {
  border-radius: 0px; }

.gtkdm.linked.horizontal > *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.gtkdm.linked.horizontal > *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.gtkdm.linked.vertical > *:last-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.gtkdm.linked.vertical > *:first-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.gtkdm .linked.horizontal entry.combo:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.gtkdm .linked.horizontal button.combo:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.linked .gtkdm > button, .linked .gtkdm > entry {
  border-radius: 3px; }

.linked .gtkdm:not(:first-child):not(:last-child) > button, .linked .gtkdm:not(:first-child):not(:last-child) > entry {
  border-radius: 0px; }

.linked.horizontal .gtkdm:first-child > button, .linked.horizontal .gtkdm:first-child > entry {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.linked.horizontal .gtkdm:last-child > button, .linked.horizontal .gtkdm:last-child > entry {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.linked.vertical .gtkdm:last-child > button, .linked.vertical .gtkdm:last-child > entry {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.linked.vertical .gtkdm:first-child > button, .linked.vertical .gtkdm:first-child > entry {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.linked.horizontal entry.combo:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.linked.horizontal button.combo:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.gtkdm.onoff switch {
  background-color: #ef4d29;
  border-color: rgba(0, 0, 0, 0.45); }
  .gtkdm.onoff switch:checked {
    background-color: #73d216;
    border-color: rgba(0, 0, 0, 0.45); }
    .gtkdm.onoff switch:checked slider {
      border-color: rgba(0, 0, 0, 0.45); }

.gtkdm-inactive > * {
  border-color: white; }

.gtkdm-warning {
  color: #ffcb00; }

.gtkdm-critical {
  color: #ef4d29; }

.dark entry {
  border: 0.2px solid rgba(0, 0, 0, 0.85);
  background: #555753;
  color: #73d216; }

.dark label {
  background: #555753;
  color: #73d216; }

.gtkdm.xxs {
  font-size: 0.75em; }

.gtkdm.xs {
  font-size: 0.85em; }

.gtkdm.sm {
  font-size: 0.95em; }

.gtkdm.md {
  font-size: 1em; }

.gtkdm.lg {
  font-size: 1.2em; }

.gtkdm.xl {
  font-size: 1.3em; }

.gtkdm.xxl {
  font-size: 1.5em; }

.monospace {
  font-family: "Fira Code", monospace; }

.mono-font {
  font-family: "Fira Code", monospace; }

.bold-font {
  font-weight: bold; }

.title {
  font-weight: bold; }

.dark-panel {
  background: #555753;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.panel .panel-desc {
  font-size: 0.9em;
  color: rgba(128, 128, 128, 0.75);
  padding: 2px; }

.panel .panel-value {
  padding-top: 2px;
  padding-bottom: 4px; }

.warning button {
  background: rgba(255, 0, 0, 0.15); }

.red button {
  color: #ef4d29; }

.green button {
  color: green; }

.on-btn button {
  background: rgba(255, 0, 0, 0.25); }

.red-bg button {
  background: rgba(255, 0, 0, 0.25); }

.off-btn button {
  background: rgba(0, 255, 0, 0.25); }

.green-bg button {
  background: rgba(0, 255, 0, 0.25); }

.vara-bg button {
  background: rgba(255, 128, 0, 0.25); }

.varb-bg button {
  background: rgba(128, 255, 0, 0.25); }

.varc-bg button {
  background: rgba(0, 128, 128, 0.25); }

.command button {
  background: rgba(0, 128, 128, 0.25); }

.gtkdm-table entry {
  border-radius: 0px; }

.gtkdm-table *:not(.dark) > entry {
  background: rgba(0, 255, 255, 0.05); }

.section label {
  font-weight: 200;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.shaded {
  background: rgba(128, 128, 128, 0.25); }

.subtitle {
  opacity: 0.5; }

tooltip {
  border-radius: 3px; }
  tooltip * {
    font-size: 90%;
    padding: 1px; }
