$base-font: "Fira Sans Condensed";
$base-monospace-font: "Fira Code";
$border-radius: 3px;
$btn-size: 12px;
$tiny-btn-size: 8px;

$colors: (
	"blue": (rgba(153, 193, 241, 0.25), rgba(98, 160, 234, 0.25), rgba(53, 132, 228, 0.25), rgba(28, 113, 216, 0.25), rgba(26, 95, 180, 0.25)),
	"green": (rgba(143, 240, 164, 0.25), rgba(87, 227, 137, 0.25), rgba(51, 209, 122, 0.25), rgba(46, 194, 126, 0.25), rgba(38, 162, 105, 0.25)),
	"yellow": (rgba(249, 240, 107, 0.25), rgba(248, 228, 92, 0.25), rgba(246, 211, 45, 0.25), rgba(245, 194, 17, 0.25), rgba(229, 165, 10, 0.25)),
	"orange": (rgba(255, 190, 111, 0.25), rgba(255, 163, 72, 0.25), rgba(255, 120, 0, 0.25), rgba(230, 97, 0, 0.25), rgba(198, 70, 0, 0.25)),
	"red": (rgba(246, 97, 81, 0.25), rgba(237, 51, 59, 0.25), rgba(224, 27, 36, 0.25), rgba(192, 28, 40, 0.25), rgba(165, 29, 45, 0.25)),
	"purple": (rgba(220, 138, 221, 0.25), rgba(192, 97, 203, 0.25), rgba(145, 65, 172, 0.25), rgba(129, 61, 156, 0.25), rgba(97, 53, 131, 0.25)),
	"brown": (rgba(205, 171, 143, 0.25), rgba(181, 131, 90, 0.25), rgba(152, 106, 68, 0.25), rgba(134, 94, 60, 0.25), rgba(99, 69, 44, 0.25)),
	"light": (rgba(255, 255, 255, 0.25), rgba(246, 245, 244, 0.25), rgba(222, 221, 218, 0.25), rgba(192, 191, 188, 0.25), rgba(154, 153, 150, 0.25)),
	"dark": (rgba(119, 118, 123, 0.25), rgba(94, 92, 100, 0.25), rgba(61, 56, 70, 0.25), rgba(36, 31, 49, 0.25), rgba(0, 0, 0, 0.25)),
);

window.gtkdm, glade-design-layout > window {
	font-family: $base-font, sans-serif;
	font-size: 0.95rem;
}

glade-design-layout .display-frame {
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: rgba(0, 0, 0, 0.15);
}

.gtkdm, glade-design-layout  {

	text-monitor.dark > label {
		padding-left: 4px;
		padding-right: 4px;
	}

	scale > marks > mark > label {
		padding: 0 4px
	}

	.tiny {
		button {
			min-height: $tiny-btn-size;
			min-width: $tiny-btn-size;
			padding: 1px;
			font-size: 0.9em;
		}
		entry {
			min-height: $tiny-btn-size;
			min-width: $tiny-btn-size;
			padding: 1px;
			font-size: 0.9em;
		}
		entry.combo {
			min-height: $tiny-btn-size;
			min-width: $tiny-btn-size;
			padding: 1px;
			font-size: 0.9em;
		}
		button.combo {
			min-height: $tiny-btn-size;
			min-width: $tiny-btn-size;
			padding: 1px 4px;
			font-size: 0.9em;
		}
	}
	
	entry {
		font-family: $base-monospace-font, monospace;
		font-size: 0.9em;
		min-height: $btn-size;
		border-radius: $border-radius;
		&.feedback {
			background-color: rgba(0, 0, 0, 0.15);
			font-size: 0.85em;
		}
	}
	entry.combo {
		font-family: $base-monospace-font, monospace;
		font-size: 0.9em;
		min-height: $btn-size;
		border-radius: $border-radius;
		&.feedback {
			background-color: rgba(0, 0, 0, 0.15);
		}
	}
	button {
		min-height: $btn-size;
		border-radius: $border-radius;
	}
	button.combo {
		min-height: $btn-size;
		border-radius: $border-radius;
		padding-left: $btn-size/2;
		padding-right: $btn-size/2;
	}
	button.toggle {
		min-height: $btn-size;
		border-radius: $border-radius;
	}
	spinbutton {
		min-height: $btn-size;
		border-radius: $border-radius;
		font-size: 0.95em;
	}
	switch {
		font-size: 0px;
		slider {
			min-height: $btn-size;
			min-width: $btn-size+2px;
		}
	}
	textview {
		font-size: 0.9em;
		margin: 2px;
		font-family: $base-monospace-font, monospace;
	}

	.linked {
		> * {
			&:not(:first-child) {
				&:not(:last-child) {
					border-radius: 0px;
					&> button, &> entry{
						border-radius: 0px;
					}
				}
			}
		}
		&.horizontal {
			> * {
				&:first-child {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
					&> button, &> entry{
						border-top-right-radius: 0px;
						border-bottom-right-radius: 0px;
					}
				}
				&:last-child {
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
					&> button, &> entry{
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
					}
				}
			}
		}
		&.vertical {
			> * {
				&:first-child {
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
					&> button, &> entry{
						border-bottom-left-radius: 0px;
						border-bottom-right-radius: 0px;
					}
				}
				&:last-child {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					&> button, &> entry{
						border-top-left-radius: 0px;
						border-top-right-radius: 0px;
					}				}
			}
		}
		> * {
			&:first-child:last-child {
				border-radius: $border-radius;
			}
		}
	}

	on-off {
		switch {
			border-color: rgba(0, 0, 0, 0.45);
			&:checked {
				background-color: #73d216;
				border-color: rgba(0, 0, 0, 0.45);
				slider {
					border-color: rgba(0, 0, 0, 0.45);
				}
			}
		}
	}
	.gtkdm-inactive > * {
		border-color: white;
	}
	.gtkdm-warning {
		color: #ffcb00;
	}
	.gtkdm-critical {
		color: #ef4d29;
	}

	.dark {
		entry {
			border: 0.25px solid rgba(0, 0, 0, 0.85);
			background: #555753;
			color: #73d216;
		}
		label {
			background: #555753;
			color: #73d216;
		}

	}
	.xxs {
		font-size: 0.75em;
	}
	.xs {
		font-size: 0.85em;
	}
	.sm {
		font-size: 0.95em;
	}
	.md {
		font-size: 1em;
	}
	.lg {
		font-size: 1.2em;
	}
	.xl {
		font-size: 1.3em;
	}
	.xxl {
		font-size: 1.5em;
	}
	.monospace {
		font-family: $base-monospace-font, monospace;
	}
	.mono-font {
		font-family: $base-monospace-font, monospace;
	}
	.bold-font {
		font-weight: bold;
	}
	.title {
		font-weight: bold;
	}

	text-panel, .text-panel{
		.desc {
			font-size: 0.9em;
			color: rgba(179, 179, 179, 0.8);
			padding: 2px;
		}
		.value {
			padding-top: 2px;
			padding-bottom: 4px;
		}
		&.dark-panel {
			background: rgb(85,87,83);
			border: 1px solid rgba(0, 0, 0, 0.5);
		}
	}
	.warning {
		button {
			background: rgba(255, 0.0, 0.0, 0.15);
		}
	}
	.red {
		button {
			color: #ef4d29;
		}
	}
	.green {
		button {
			color: green;
		}
	}
	.on-btn {
		button {
			background: rgba(255, 0, 0, 0.25);
		}
	}
	.off-btn {
		button {
			background: rgba(0, 255, 0, 0.25);
		}
	}

	@each $name, $items in $colors {
		@each $item in $items {
			$i: index($items, $item);
			.bg-#{$name}-#{$i}, .bg-#{$name}-#{$i} > .button {
				background: $item;
			}
		}
	}

	.command {
		button {
			background: rgba(0, 128, 128, 0.25);
		}
	}
	.gtkdm-table {
		entry {
			border-radius: 0px;
		}
		* {
			&:not(.dark) {
				>entry {
					background: rgba(0.0, 255, 255, 0.05);
				}
			}
		}
	}
	.section {
		label {
			font-weight: 200;
			margin-bottom: 4px;
			border-bottom: 1px solid rgba(0,0,0,0.15);
		}
	}
	.shaded {
		background: rgba(128, 128, 128, 0.25);
	}
	.subtitle {
		opacity: 0.5;
	}
	tooltip {
		border-radius: $border-radius;
		* {
			font-size: 90%;
			padding: 1px;
		}
	}
}
