.gtkdm * {
    /*font-size: 11.5px;*/
}

popover.gtkdm {
    border-radius: 3px;
}


.gtkdm entry, .gtkdm button {
    min-height: 12px;
    border-radius: 3px;
}
.gtkdm spinbutton {
    min-height: 12px;
    border-radius: 3px;
}
.gtkdm treeview {
    font-size: 10px;
    margin: 2px;
}


.gtkdm .linked button:not(:first-child):not(:last-child):not(.combo) {
    border-radius: 0px;
}
.gtkdm .linked.horizontal button:first-child:not(.combo) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gtkdm .linked.horizontal button:last-child:not(.combo) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.gtkdm .linked.vertical button:last-child:not(.combo) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.gtkdm .linked.vertical button:first-child:not(.combo) {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.gtkdm-inactive, .gtkdm-inactive * {
    opacity: 0.5;
}

.gtkdm ChoiceMenu button {
    border-radius: 3px;
}
.gtkdm-warning {
    color: #CA9900;
}

.gtkdm-critical {
    color: #FC0000;
}
