.gtkdm-window * {
    font-size: 9pt;
}

.gtkdm-window popover, .gtkdm-window menu {
    border-radius: 3px;
}

.gtkdm entry {
    font-family: "TheSansMonoCd Office", "Monaco", monospace;
}
.gtkdm entry, .gtkdm button, .gtkdm button.combo, .gtkdm button.toggle {
    min-height: 10px;
    border-radius: 3px;
}
.gtkdm spinbutton {
    min-height: 12px;
    border-radius: 3px;
    font-size: 95%;
}

.gtkdm textview {
    font-size: 95%;
    margin: 2px;
    font-family: "TheSansMonoCd Office", "Monaco", monospace;
}

.gtkdm .linked button:not(:first-child):not(:last-child):not(.combo) {
    border-radius: 0px;
}
.gtkdm .linked.horizontal button:first-child:not(.combo) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gtkdm .linked.horizontal button:last-child:not(.combo) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.gtkdm .linked.vertical button:last-child:not(.combo) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.gtkdm .linked.vertical button:first-child:not(.combo) {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.gtkdm-inactive, .gtkdm-inactive * {
    opacity: 0.5;
}

.gtkdm-warning {
    color: #ffcb00;
}

.gtkdm-critical {
    color: #FC0000;
}

.tiny button, .tiny entry {
    min-height: 10px;
    min-width: 8px;
    padding: 0px;
    border-radius: 3px;
    font-size: 90%;
}


.tiny .linked *:not(:first-child):not(:last-child) > * {
    border-radius: 0px;
}
.tiny .linked.horizontal *:first-child > * {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.tiny .linked.horizontal *:last-child > * {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tiny .linked.vertical *:first-child > * {
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.tiny .linked.vertical *:last-child > * {
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.dark entry {
    border: 0.5px solid rgba(0, 0, 0, 0.25)
}

.gtkdm.xs label {
    font-size: 7pt;
}

.gtkdm.sm label {
    font-size: 8pt;
}

.gtkdm.md label {
    font-size: 9pt;
}

.gtkdm.lg label {
    font-size: 10pt;
}

.gtkdm.xl label {
    font-size: 12pt;
    font-weight: bold;
}

.dark entry, .dark label {
    background: dimgray;
    color: lawngreen;
}

.warning button {
    background: rgba(255, 0.0, 0.0, 0.15);
}

.gtkdm-table entry {
    border-radius: 0px;
}
.gtkdm-table *:not(.dark) > entry{
    background: rgba(0.0, 255, 255, 0.05);
}

