.gtkdm label, .gtkdm entry {
    font-size: 95%;
}

.gtkdm entry, .gtkdm button {
    min-height: 0px;
    border-radius: 3px;
}

.gtkdm-inactive, .gtkdm-inactive * {
    opacity: 0.5;
}

.gtkdm-warning {
    color: #CA9900;
}

.gtkdm-critical {
    color: #FC0000;
}
